<html>

  <head>
    <title>west side invite x - memorial day weekend mmx</title>
    <link rel="stylesheet" href="/css/wsix.css" type="text/css" media="screen, projection">
  </head>

  <body>

    <img src="/images/wsibg<%= @bg %>.jpg" class="bg">

    <div id="main">
      <%= yield %>
    </div>

    <div id="copy">
      &copy; 20<span class="ten" onmouseover="toggle(true);" onmouseout="toggle(false);">10</span>
      portla<span class="nutria">N</span>d <span class="nutria">U</span>ni<span class="nutria">T</span>ed messenge<span class="nutria">R</span> assoc<span class="nutria">IA</span>tion
    </div>

  </body>

  <script type="text/javascript" src="/js/wsix.js"></script>

</html>
