<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>
    <title>west side invite x - memorial day weekend mmx</title>
    <link rel="stylesheet" href="/css/wsix.css" type="text/css" media="screen, projection">
    <script type="text/javascript" src="/js/prototype.js"></script>
    <script type="text/javascript" src="/js/scriptaculous/scriptaculous.js"></script>
    <script type="text/javascript" src="/js/wsix.js"></script>
  </head>

  <body>

    <img src="/images/wsibg<%= @bg %>.jpg" class="bg" id="background">

    <div id="main">
      <span style="float: right;" id="windowDimensions"></span>

      <%= yield %>
    </div>

    <div id="copy">

      <% if @user %>
        you are logged in as <%= @user.name %> &lt;<%= @user.email %>&gt;<br/>
        you can:
        <a href="/register/status">check yer status</a> or
        <a href="/register/logout">log the eff out</a>
        <br/>
      <% end %>

      &copy; 2010
      portla<span class="nutria">N</span>d <span class="nutria">U</span>ni<span class="nutria">T</span>ed messenge<span class="nutria">R</span> assoc<span class="nutria">IA</span>tion

    </div>

  </body>

</html>
