div#form {
  position: absolute;
  top: 25px;
  left: 15%;
}
span#errors {
  color: #f00;
  font-size: 14px;
  text-align: left;
  position: absolute;
  top: 10px;
}
th {text-align: right;}
th,td {
  font-size: 12px;
  vertical-align: middle;
}
td {text-align: left;}

div#registerLogin {
}
a.tab {cursor: pointer;}
a.tab:hover { color: #f44; } /* no href attrs */
a.active { color: #44f; }
a.inactive, th.disabled { color: #aaa; }
/*table.tab {width: 100%;}*/
td.tab {text-align: center;}
td.status {
  text-align: center;
  font-style: italic;
  font-size: 10px;
}
div#whosregistered {
  position: absolute;
  width: 496px;
  height: 250px;
  right: 40px;
  padding: 20px;
}
div#registerlist {
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}
