body {
  background-color: #dff4ff;
  overflow: hidden;
  text-align: right;
  color: #224;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
}
p {
  text-indent: 100px;
  padding: 20px 40px 2% 2%;
}
img.bg {
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  z-index: 1;
}
div#main {
  width: 100%;
  height: 90%;
  z-index: 10;
  position: absolute;
  top: 0; left: 0;
}
div#pictobrowser {
  position: absolute;
  right: 40px;
}
div#copy {
  font-size: 10px;
  position: absolute;
  z-index: 9;
  bottom: 10px;
  left: 40px;
}
span.nutria {
  color: #44f;
  font-weight: bold;
}
span#windowDimensions {color: #f00; z-index: 100;}

div#register {
  width: 200px;
  text-align: center;
  position: absolute;
  height: 99%;
  top: 25px;
  left: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}
img {border: none;}
a, a:visited {
  text-decoration: none;
  color: #44f;
}
a:hover {color: #f44;}
div#latestRegistered, div#calendar, div#sponsorInfo{
  width: 170px;
  font-size: 10px;
  color: #000;
}
.rounded {
  padding: 5px;
  border: 1px solid #777;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.translucent {
  background-color: #ddd;
  filter:alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.centered {text-align: center;}
th.schedule {text-align: right;}
td.schedule {text-align: left;}

table.sponsor {
  margin-left: 220px;
  margin-right: 10px;
}
